

<p>
  <strong>F name:</strong>
  <%= @menu.f_name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @menu.price %>
</p>

<%= render 'menus/form' %>
<%= link_to 'Back', category_stores_path(@category.store)%>